


.treatment {
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, .4);
    position: relative;
}

.treatment:before {
    content: '';
    position: absolute;
    background: url('../../assets/treatment-bg2.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.treatment .content {
    position: absolute;
    top: 30%;
    width: 90%;
    left: 0;
    padding: 1rem;
}

.treatment h1 {
    color: var(--primary-color);
    text-align: left;
    font-size: 35px;
}

.treatment p {
    color: #f8f8f8;
    margin: 1rem 0;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}


/* KEY AREAS */

.treatment-header1 {
    padding: 2rem;
}

.treatment-header1 h1 {
    font-size: 35px;
    color: var(--primary-color);
}

.treatment-header1 p {
    padding: 25px ;
    font-size: 15px;
}

.keyAreasContainer {
    background-color: #3A8891;
}

.keyAreas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 30%;
    padding: 3rem;
}

.keyAreas-description {
    width: 900px;
    text-align: justify; 
    padding: 1rem;   
}


.keyAreas-description h1{
    font-size: 25px; 
    text-align: left; 
    padding: 1rem;
}

.keyAreas-description p {
    font-size: 15px; 
    text-align: justify; 
    color: white;  
}

.keyAreas-image {
    background-color: rgb(209, 86, 37);
    position: relative;
    width: 350px;
    height: 400px;
    padding: 2rem;
    margin: 2rem;
}

.keyAreas-image img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
}

.keyAreas .revisions, .keyAreas .recreation {
    font-size: 25px;
    color: var(--primary-color);
}


/* RECREATIONS */

.recreationContainer {
    background-color: #3A8891;
    position: relative;
    margin: 1rem 0 0 0;
}

.recreationContainer h1{
    font-size: 25px;
    padding: 1rem;
}

.recreation-headline {
    font-size: 15px;
    color: white;
    padding: 0 2rem;
    text-align: center;
}

.recreation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 30%;
    padding: 3rem;

}

.recreation-description {
    width: 600px;
    text-align: justify; 
    gap: 1rem;
    padding: 3rem;
}

.recreation-description p {
    font-size: 15px; 
    text-align: justify; 
    color: white;  
}

.recreation-image {
    background-color: rgb(209, 86, 37);
    position: relative;
    width: 350px;
    height: 400px;
    padding: 2rem;
    margin: 2rem;
}

.recreation-image img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
}

.recreation-header1 {
    padding: 2rem;
    position: relative;
}

.recreation-header1 h1 {
    font-size: 25px;
    color: var(--primary-color);
}

.recreation-header1 p {
    padding: 25px ;
    font-size: 15px;
    text-align: center;
    
}

.recreation-contact {
    color: white;
    font-size: 14px;
}

@media screen and (max-width:940px) {

    .treatment {
        height: 60vh;
    }

    .treatment .content {
    width: 100%;
    }

    .service-1 {
        margin: 1rem;
    }

    .service-1-image {
        display: none;
    }

    .service-1-description {
        width: 100%;    
    }


    .treatment p {
        font-size: 15px;
        color: #f8f8f8;
        margin: 1rem 0;
        text-align: justify;
    }

    .revisions, .recreation {
        margin-top: -5rem;
    }

}


