


/* WELCOME SECTION */
.welcome-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem;
}

.welcome-photo {
    width: 40%;
}

.welcome-photo img {
    border-radius: 1rem;
    width: 100%;
}

.welcome-section-description{
    width: 50%;
    text-align: justify; 
    margin-top: 1rem;  
}

.welcome-section-description h1{
    font-size: 2rem;
}

.welcome-section-description p{
    font-size: 16px;
}

/*  */



.services .content {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.serviceCards {
    margin: auto;
}

.tabs {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tab {
    width: 20%;
    text-align: center;
    border: 1px solid salmon;
    padding: 5px;
}

.tab1 {
    background-color: aquamarine;
}

.hr-container {
    width: 80%;
    margin: auto;
    top: 20px;
    border: none;
    height: 2px;
    background: var(--primary-color);
    margin-bottom: 50px;
}

.service-cards-btn button {
    margin: auto;
    margin-bottom: 4rem;
}

/* ----------------> SECTION 3 */

.section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem;
}

.section-3 span {
    font-size: 2rem;
}

.section-3-description {
    width: 50%;
    text-align: justify; 
    margin-top: 1rem;
    padding: 1rem;   
}

.service-3-image {
    width: 40%; 
}

.service-3-image img {
    border-radius: 1rem;
    width: 100%;
}

.section-3-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    width: 50%;
    padding: 3rem;  
    margin: auto; 
}


.section-3-icons .icon {
    font-size: 7rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;

    color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 5rem;
}

.icon-container {
text-align: center;
width: 200px;
}

/* ----------------------> SECTION 4 */

.services h2, .services-third h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.services-third p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Poppins';
}


/* Third Section */

.third-section {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.quote {
    width: 100%;
    text-align: center;
    padding: 8rem 10rem;
}


.third-section-image img {
    border-radius: 2rem;
    width: 100%;
    padding: 5rem 10rem;
}

/* End of Third Section */


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .services .content {
        height: 30vh;
    }

   .services .content h2 {
    margin-top: 5rem;
   } 

   .services .content p {
    margin-bottom: 2rem;
   } 

   .third-section-image img {
    display: none;
}

.third-section {
    flex-wrap: wrap;
}

 .third-section .quote {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
}

.services .content {
margin-top: 2rem;
}

.services-third p {
    font-size: 18px;
    margin-top: -1rem;
}


.services-third h2 {
    font-size: 27px;
}

.third-section .quote p {
    font-size: 15px;
    margin-top: -2rem;
}

.service-3 {
    margin: 1rem;

}

.service-3 img {
    display: none;
}

.service-3-description {
    width: 100%;
    text-align: justify; 
    margin-top: 0;
}

}




