@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.anger-disorder {
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.486);
    position: relative;
  }
  
  .anger-disorder:before {
    content: '';
    position: absolute;
    background: url('../../assets/depressed_man.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

.anger-disorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anger-disorder .anger-disorder-content {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 10%;
    padding: 1rem;
}

.anger-disorder h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.anger-disorder h1 {
    font-size: 2rem;
}

.anger-disorder .anger-disorder-content {
    left: 0%;
    width: 100%;
    text-align: center;
}

}