.InsuranceSection {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0);
}

.InsuranceSection .content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.InsuranceSection .content p {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}

.InsuranceSection .content h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 0rem;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.InsuranceSection .flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.InsuranceSection button {
margin: auto;
margin-top: 1rem;
}

@media screen and (max-width: 940px) {

    .InsuranceSection {
        height: 80vh;
    }

    .InsuranceSection h2 {
        font-size: 25px;
    }

    .InsuranceSection p {
        font-size: 15px;
    }
}










