.InsuranceSection {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0);
}

.InsuranceSection .content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0rem;
}

.InsuranceSection .content p {
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}

.InsuranceSection .content h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
    
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.InsuranceSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.InsuranceSection button {
margin: 1rem auto;
}

@media screen and (max-width: 940px) {


    .InsuranceSection .content h1 {
        font-size: 1.5rem;
    }

    .InsuranceSection p {
        font-size: 15px;
    }

    .insurance-thumbnail img {
        width: 150px;
    }
}










